<footer class="footer">

	<div class="wrap">

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<p>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</p>
			<p>The content of this website is moderated and created by the coaching staff of the Southmont Track & Cross Country programs. Views and opinions expressed are those of the authors and do not necessarily reflect the official policy or position of <a href="http://southmontschools.org/" target="_blank">Southmont Schools.</a></p>
		</div>

		{% include socials.html %}

	</div>

</footer>
